doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/css/bootstrap-5.3.0-alpha1/dist/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  link(rel='stylesheet' href='css/custom/stylesheet.css')
  div(w3-include-html='/nav.w3-nav-html')
  title All products in U-Farm
link(rel='stylesheet' href='/style/style.css')
div(w3-include-html='../nav.html')
p(style='color: green; font-size: xx-large;') We deal in different products such as;
.container.text-center
  .row.align-items-start
    .col
      span.badge.rounded-pill.text-bg-warning
        a(href='/horticultures') HOTICULTURE
    .col
      span.badge.rounded-pill.text-bg-warning
        a(href='/dairly') DAIRLY
    .col
      span.badge.rounded-pill.text-bg-warning
        a(href='/poultry') POULTRY
    .col
      span.badge.rounded-pill.text-bg-warning
        a(href='uploads') PRODUCTS ON SELL
p(style='font-size: larger;') We deal in many agricultural products which include both vegetables and fruits
p(style='background-color: darkolivegreen;font-size: larger;')
  | FOR VEGETABLES:
  | For example;Cabbages,
  | String beans, Broccoli,Carrots ETC
img(src='/imgs/cabbage 1.jpg' style='width:300px;height:200px;')
img(src='/imgs/string beans.jpg' style='width:300px;height:200px;')
img(src='/imgs/broccoli.jpg' style='width:300px;height:200px;')
img(src='/imgs/carrots.jpg' style='width:300px;height:200px;')
p(style='background-color: darkolivegreen;font-size: larger;')
  | FOR FRUITS. For example; mangoes, oranges, -Irish potatoes,
  | ovacado ETC
img(src='/imgs/mangoes.jpg' style='width:300px;height:200px;')
img(src='/imgs/oranges.jpg' style='width:300px;height:200px;')
img(src='/imgs/-Irish potatoes6.jpg' style='width:300px;height:200px;')
img(src='/imgs/ovacado.webp' style='width:300px;height:200px;')
p(style='font-size: xx-large;')
  | We also educate people on how they can carryout different activites such as carrying out
  | fish farming (HOTICULTURE) by giving them a detailed information on modern methods of fish farming.
footer
  table.table
    thead
      tr
        th(scope='col')
          h1 contact us
        th(scope='col')
          h1 Quick Links
        th(scope='col')
          h1 More Updates
    tbody
      tr
        td
        img(src='/imgs/facebook icon.png' style='width:50px;height:50px;')
        a(href='#') facebook
        br
        img(src='/imgs/whatsapp icon.jpg' style='width:50px;height:50px;')
        a(href='#') Whatsapp
        br
        img(src='/imgs/tweeter icon.png' style='width:50px;height:50px;')
        a(href='#') Tweeter
        br
        img(src='/imgs/linkedin icon.png' style='width:50px;height:50px;')
        a(href='#') LinkedIn
        br
        img(src='/imgs/u tube icon.png' style='width:50px;height:50px;')
        a(href='#') You Tube
        br
        img(src='/imgs/gmail log.png' style='width:50px;height:50px;')
        a(href='#') ufarm@gmail.com
        td
        a(href='/indexRoute') HOME PAGE
        br
        a(href='/All') ALL PRODUCTS
        br
        a(href='/uploads') UPLOADS
        br
        a(href='/regestor') REGISTOR AS AN AGRICULTURAL OFFICER (AO)
        br
        a(href='/urban farmer') REGISTOR AS AN URBAN FARMER
        br
        a(href='/login') LOG IN
        br
        a(href='/horcticulturs') HOTICULTURE
        br
        a(href='/dairly') DAIRLY
        br
        a(href='/poultry') POULTRY
        br
script(src='/Js/custom.js')
script(src='/css/bootstrap-5.3.0-alpha1/dist/js/bootstrap.js')
