doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/css/bootstrap-5.3.0-alpha1/dist/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  link(rel='stylesheet' href='css/custom/stylesheet.css')
  div(w3-include-html='/nav.w3-nav-html')
  title  Diarly production
link(rel='stylesheet' href='/style/style.css')
div(w3-include-html='/nav')
p  To go back to the products page click 
h4
  span.badge.rounded-pill.text-bg-warning
    a(href='/All') HERE
p
h4
  | Dairy Farming is a Biological System
  | The dairy farm is dependent on the cow&apos;s ability to live a healthy life, produce milk, 
  | and have calves that can become the next generation of the farm.
  | What is dairy farming in Uganda?
  | Dairy farming is a strategic enterprise in Uganda that provides household food
  | security and daily incomes to the large population. It is practiced under three main systems; intensive, 
  | semi-intensive and extensive. Breeds of dairy cattle. Friesian. Good diary breed but also idea for beef.
  br
  #accordionExample.accordion
    .accordion-item
      h2#headingOne.accordion-header
        button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
          b
            h2 How to start Dairy farming?
      #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
        .accordion-body
          strong  Dairy farming
          |     Things You Need to Know Before Starting Your Own Dairy Farm
          ol
            li &#x9;Develop a Business Plan and SWOT Analysis.
            li &#x9;Consult the Experts.
            li &#x9;Create a Cropping and Feeding Program.
            li &#x9;Create a Waste Management Plan.
            li &#x9;Build Your Equity Over Time.
            li &#x9;Dairy Farming is a Biological System. 
            li    One Size Does Not Fit All.
            li &#x9;You are a Manager First.
            li &#x9;How much money does a dairy cow make a year?
            li &#x9;Dairy Financial Performance: How Did 2020 Compare to Previous Years?
hr
h3
  u
    p(style='background-color: cornsilk; font-size: xx-large;')  ILLUSTRATIONS ON DIARY FARMING IN UGANDA
p
img(src='/imgs/dairy 4.jpg' style='width:600px;height:400px;')
p(style='text-align: left;')
  u
    h4 High breeds of cattle
hr
img(src='/imgs/diary 1.jpg' style='width:600px;height:400px;')
p
  u
    h4 Zero grazing
hr
img(src='/imgs/diary2.jpg' style='width:600px;height:400px;')
p
  u
    h4  Modernised spraying.
footer
  table.table
    thead
      tr
        th(scope='col')
          h1 contact us
        th(scope='col')
          h1 Quick Links
        th(scope='col')
          h1 More Updates
    tbody
      tr
        td
          img(src='/imgs/facebook icon.png' style='width:50px;height:50px;')
          a(href='#') facebook
          br
          img(src='/imgs/whatsapp icon.jpg' style='width:50px;height:50px;')
          a(href='#') Whatsapp
          br
          img(src='/imgs/tweeter icon.png' style='width:50px;height:50px;')
          a(href='#') Tweeter
          br
          img(src='/imgs/linkedin icon.png' style='width:50px;height:50px;')
          a(href='#') LinkedIn
          br
          img(src='/imgs/u tube icon.png' style='width:50px;height:50px;')
          a(href='#') You Tube
          br
          img(src='/imgs/gmail log.png' style='width:50px;height:50px;')
          a(href='#') ufarm@gmail.com
        td
          a(href='/index.html') HOME PAGE
          br
          a(href='/products/All.html') ALL PRODUCTS
          br
          a(href='/charts/uploads.html') UPLOADS
          br
          a(href='/Auth/regestor.html') REGISTOR AS AN AGRICULTURAL OFFICER (AO)
          br
          a(href='/Auth/urban farmer.html') REGISTOR AS AN URBAN FARMER
          br
          a(href='/Auth/login.html') LOG IN
        td
          a(href='/products/horcticulturs.html') HOTICULTURE
          br
          a(href='/products/dairly.htm') DAIRLY
          br
          a(href='/products/poultry.html') POULTRY
          br
|    t src=&quot;/Js/custom.js&quot;&gt;
script(src='/css/bootstrap-5.3.0-alpha1/dist/js/bootstrap.js')
