head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/public/css/bootstrap-5.3.0-alpha1/dist/js/bootstrap.js' rel='stylesheet')
  title Home page
// nav starts here
nav.navbar.bg-primary(data-bs-theme='dark')
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='#') U farm
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') Farmers
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | PRODUCTS
            ul.dropdown-menu
              li
                a.account(href='#') Action
              li
                a.dropdown-item(href='#') Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled
              | Poducts
        form.d-flex(role='search')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
  img(src='/imgs/download.png' style='width:30px;height:50px;')
  // nav ends here
  h1 welcome to u farm
  p
    | A farm (also called an agricultural holding) is an area of land that is devoted primarily to agricultural processes 
    | with the primary objective of producing food and other crops; it is the basic facility in food production
    br
  p
    | [1] The name is used for specialized units such as arable farms, vegetable farms, fruit farms, dairy, pig and poultry
    | farms, and land used for the production of natural fiber, biofuel and other commodities. It includes ranches,
    | feedlots, orchards, plantations and estates, smallholdings and hobby farms, and includes the farmhouse and
    | agricultural buildings as well as the land. In modern times the term has been extended so as to include such
    | industrial operations as wind farms and fish farms, both of which can operate on land or sea.
    | There are about 570 million farms in the world, most of which are small and family-operated. Small farms with a
    | land area of fewer than 2 hectares operate about 1% of the world & apos;s agricultural land, and family farms comprise
    | about 75% of the world & apos;s agricultural land.
  br
  p
    | [2] Modern farms in developed countries are highly mechanized. In the United States, livestock may be
    | raised on range, land and finished in feedlots and the mechanization of crop production has brought about a great
    | decrease in the number of agricultural workers needed. In Europe, traditional family farms are giving way to larger
    | production units. In Australia, some farms are very large because the land is unable to support a high stocking
    | density of livestock because of climatic conditions. In less developed countries, small farms are the norm, and
    | the majority of rural residents are subsistence farmers, feeding their families and selling any surplus products
    | in the local market. Acres can hold the crops.
  br
  |      What service does a farmer provide?
  |     A farmer is an agricultural professional who raises living animals or plants. They may produce raw materials, food or animal products. They can specialize in different agricultural areas 
  p
footer
  table.table
    thead
      tr
        th(scope='col')
          h1 contact us
        th(scope='col')
          h1 Quick Links
        th(scope='col')
          h1 More Updates
    tbody
      tr
        td
          img(src='/imgs/facebook icon.png' style='width:50px;height:50px;')
          a(href='#') facebook
          br
          img(src='/imgs/whatsapp icon.jpg' style='width:50px;height:50px;')
          a(href='#') Whatsapp
          br
          img(src='/imgs/tweeter icon.png' style='width:50px;height:50px;')
          a(href='#') Tweeter
          br
          img(src='/imgs/linkedin icon.png' style='width:50px;height:50px;')
          a(href='#') LinkedIn
          br
          img(src='/imgs/u tube icon.png' style='width:50px;height:50px;')
          a(href='#') You Tube
          br
          img(src='/imgs/gmail log.png' style='width:50px;height:50px;')
          a(href='#') ufarm@gmail.com
        td
          a(href='/index.html') HOME PAGE
          br
          a(href='/products/All.html') ALL PRODUCTS
          br
          a(href='/charts/uploads.html') UPLOADS
          br
          a(href='/Auth/regestor.html') REGISTOR AS AN AGRICULTURAL OFFICER (AO)
          br
          a(href='/Auth/urban farmer.html') REGISTOR AS AN URBAN FARMER
          br
          a(href='/Auth/login.html') LOG IN
        td
          a(href='/products/horcticulturs.html') HOTICULTURE
          br
          a(href='/products/dairly.htm') DAIRLY
          br
          a(href='/products/poultry.html') POULTRY
          br
script(src='/Js/custom.js')
script(src='/css/bootstrap-5.3.0-alpha1/dist/js/bootstrap.js')
