head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  title Home page
//nav starts here
nav.navbar.bg-lightgreen(data-bs-theme='darkgreen')
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='#') U farm
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='/home') Home
          li.nav-item
            a.nav-link(href='/uploads') Uploads
          li.nav-item
            a.nav-link(href='/poutry') Poultry
          li.nav-item
            a.nav-link(href='/diarly') Diarly 
          li.nav-item
            a.nav-link(href='/###diarly') Hotculture 
          
        form.d-flex(role='search')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
  img(src='/imgs/final log of u farm.png' style='width:150px;height:110px;')
legend
  center
    h1
      P Welcome to U-Farm platform.
  p(style="font-family: 'Courier New', Courier, monospace;color: rgb(255, 123, 0);")
      | We provide different
      | services to farmers and the entire community at large. 
      | We also help farmers to market and sell there products online and be able to get profits by providing the with
      | reliable market  that will help their customers to axcess there products
      br
      | We also anable different people to buy products of their chioce such as;
      ol
        li Tomatoes
        li Bees products Eg Honey
        li Beans
        li Rice
        |   e.t.c
  p
  h1 We have the following products and deal in following farming practices
  img(src='/imgs/beans.jpg' style='width:200px;height:150px;')
  img(src='/imgs/rice growing.jpg' style='width:200px;height:150px;')
  img(src='/imgs/coffee picking.jpg' style='width:200px;height:150px;')
  img(src='/imgs/poutry.jpg' style='width:200px;height:150px;')
  img(src='/imgs/bee haves.jpg' style='width:200px;height:150px;')
  img(src='/imgs/modernazation.jpg' style='width:200px;height:150px;')
  hr
  b
    h4
      u
        p(style='border: 0cap;color: blue;') We manly deal in the following;
    p(style='font-size: xx-large;text-align: center;') 1. AQUACULTURE
    p(style='font-size: smaller;font-size: larger;')
      | Aquaculture has come a long way. Modern fish farms occur in ponds, pens or recirculating tanks, 
      | with floating pens being the most common approach. The fish swim freely in large netted structures 
      | in protected coastal areas. This means they have continuous access to clean water and exercise,
      | so the fish are healthy, lean and firm. This approach is used by many top fish farms, including 
      | responsible Tilapia producer Regal Springs.
      br
      | Over time, fish farmers have made various advancements that have resulted in healthier, happier and
      | tastier fish. Improvements to feed mean that many types of farmed fish can now be sustained by a high-quality,
      |  vegetable-based diet that is good for the environment. And research into optimal oxygen levels, bacteria
      |   reduction and hydrodynamics have increased survival rates and improved efficiency. Today, the best farms
      |   can maintain fish health without the use of antibiotics, resulting in a healthier meal for consumers down
      |   the line.
    p
    h2
      hr
      img(src='/imgs/fish.jpg' style='width:200px;height:150px;')
      img(src='/imgs/ponds.jpg' style='width:200px;height:150px;')
      img(src='/imgs/Tilapia.webp' style='width:200px;height:150px;')
      img(src='/imgs/feeding.jpg' style='width:200px;height:150px;')
      img(src='/imgs/thinkstockphotos-622018238.webp' style='width:200px;height:150px;')
    p(style='color: green;')
      | We educate our farmers on how they can carryout
      | fish farming as a way of promoting a griculture and in the process they are able to earn a living. This has greatly helped
      | many farmers to improve their standards of living.
    hr
    p
    p(style='font-size: xx-large;text-align: center;') 2. HOTICULTURE
    p(style='color: rgb(33, 17, 17); font-size: small;')
      | This deals with the growing of flowers.
      | This help us to get more products that we get from flowerss
      hr
      img(src='/imgs/hot 1.jpg' style='width:200px;height:150px;')
      img(src='/imgs/hot 2.jpg' style='width:200px;height:150px;')
      img(src='/imgs/hot 3.jpg' style='width:200px;height:150px;')
      img(src='/imgs/hot 4.jpg' style='width:200px;height:150px;')
    p(style='background-color: chartreuse;font-size: larger;background-size: 0ic;text-align: center;')
      | Let&apos;s work together so that we can improve
      | Agriculture together. With U-farm everything is possible.
footer
  table.table
    thead
      tr
        th(scope='col')
          h1 contact us
        th(scope='col')
          h1 Quick Links
        th(scope='col')
          h1 More Updates
    tbody
      tr
        td
          img(src='/imgs/facebook icon.png' style='width:50px;height:50px;')
          a(href='#') facebook
          br
          img(src='/imgs/whatsapp icon.jpg' style='width:50px;height:50px;')
          a(href='#') Whatsapp
          br
          img(src='/imgs/tweeter icon.png' style='width:50px;height:50px;')
          a(href='#') Tweeter
          br
          img(src='/imgs/linkedin icon.png' style='width:50px;height:50px;')
          a(href='#') LinkedIn
          br
          img(src='/imgs/u tube icon.png' style='width:50px;height:50px;')
          a(href='#') You Tube
          br
          img(src='/imgs/gmail log.png' style='width:50px;height:50px;')
          a(href='#') ufarm@gmail.com
        td
          a(href='/home') HOME PAGE
          br
          a(href='/All') ALL PRODUCTS
          br
          a(href='/uploads') UPLOADS
          
        td
          a(href='/hotculture') HOTICULTURE
          br
          a(href='/diarly') DAIRLY
          br
          a(href='/poultry') POULTRY
          br
script(src='/Js/custom.js')
script(src='/css/bootstrap-5.3.0-alpha1/dist/js/bootstrap.js')
