doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/css/bootstrap-5.3.0-alpha1/dist/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  link(rel='stylesheet' href='css/custom/stylesheet.css')
  div(w3-include-html='/nav.w3-nav-html')
  title POULTRY
  link(rel='stylesheet' href='/style/style.css')
  div(w3-include-html='../nav.html')
  p  To go back to the products page click
  h4
    span.badge.rounded-pill.text-bg-warning
      a(href='/All') HERE
  p
h1 We do also deal in poultry
p(style='font-size: larger;color: green;')
  | We teach on how we can caryout poultry farming and
  | different types of poultry
p(style='background-color: lightgreen;font-size: xx-large;') SOME PICTURES ON POULTRY FARMING
img(src='/imgs/my personal pics/poultry 1.jpg' style='width:300px;height:200px;')
img(src='/imgs/my personal pics/poultry 2.jpg' style='width:300px;height:200px;')
img(src='/imgs/my personal pics/poultry 5.jpg' style='width:300px;height:200px;')
img(src='/imgs/my personal pics/poultry 6.jpg' style='width:300px;height:200px;')
p(style='background-color: lightgreen;font-size: xx-large;') DIFFERENT METHODS OF REARING POULTRY.
h1 These include;
ol
  li Free Range system
  li Deep litre system
  li Batary cage system
footer
  table.table
    thead
      tr
        th(scope='col')
          h1 contact us
        th(scope='col')
          h1 Quick Links
        th(scope='col')
          h1 More Updates
    tbody
      tr
        td
          img(src='/imgs/facebook icon.png' style='width:50px;height:50px;')
          a(href='#') facebook
          br
          img(src='/imgs/whatsapp icon.jpg' style='width:50px;height:50px;')
          a(href='#') Whatsapp
          br
          img(src='/imgs/tweeter icon.png' style='width:50px;height:50px;')
          a(href='#') Tweeter
          br
          img(src='/imgs/linkedin icon.png' style='width:50px;height:50px;')
          a(href='#') LinkedIn
          br
          img(src='/imgs/u tube icon.png' style='width:50px;height:50px;')
          a(href='#') You Tube
          br
          img(src='/imgs/gmail log.png' style='width:50px;height:50px;')
          a(href='#') ufarm@gmail.com
        td
          a(href='/index.html') HOME PAGE
          br
          a(href='/products/All.html') ALL PRODUCTS
          br
          a(href='/charts/uploads.html') UPLOADS
          br
          a(href='/Auth/regestor.html') REGISTOR AS AN AGRICULTURAL OFFICER (AO)
          br
          a(href='/Auth/urban farmer.html') REGISTOR AS AN URBAN FARMER
          br
          a(href='/Auth/login.html') LOG IN
        td
          a(href='/products/horcticulturs.html') HOTICULTURE
          br
          a(href='/products/dairly.htm') DAIRLY
          br
          a(href='/products/poultry.html') POULTRY
          br
script(src='/Js/custom.js')
